@use 'variables' as var;

/* NavBar Variabili */

$navBgColor: #141414;
$textColor: white;
$navHeight: 60px;


/* Stili barra di navigazione */
header {
    top: 0;
    position: sticky;
    z-index: 100;
}
nav {
    width: 100%;
    height: $navHeight;
    margin: 0px;
    background-color: $navBgColor;
    box-sizing: border-box;
}
ul#navBar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    margin: 0px;
}
li#navSections {
    width: 100%;
}
div#navMenu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    color: $textColor;
    font-size: 17px;
}
div.navItems, div#navLogo {
    width: 100px;
    margin: 0px 5px;
    text-align: center;
    cursor: pointer;
}
div.navItems {
    padding: 10px 0px;
    transition: border-bottom 0.05s ease-out;
}

div#navLogo a {
    font-family: 'Source Code Pro';
    font-weight: 500;
    color: $textColor;
}